.DS_Store
/build/*
/!build/generated
/!build/distributions
.idea
*.iml
.env
.classpath
.settings
annotation-generated-src
annotation-generated-tst
/configurations/stack-exec


# Ignore Gradle project-specific cache directory
.gradle
/out/
